.grid-container {
  display: grid;
  grid-template-columns: 320px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: 
      'sidebar header header header'
      'sidebar main main main';
  height: 95vh;
}

.header {
  grid-area: header;
  border-radius: 15px;
  margin: 15px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  background-color: white;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.sidebar {
  grid-area: sidebar;
  margin: 15px;
  padding-left: 0px;  
  height: 125%;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 6px 7px 5px rgba(0, 0, 0, 0.35);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.dashboard {
  grid-area: main;
  margin: 15px;
  padding-left: 30px;    
  height: 100%;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 6px 7px 5px rgba(0, 0, 0, 0.35);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.rowCard {
  display: flexbox;
  flex-direction: row;
  justify-content:center;
  padding: 20px 0px 0px 0px;
  font-size: 18px;
}

.columnCard {
  display: flex;
  flex-direction: row;
}
